.card-projeto {
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 12px;
  transition: ease 0.2s;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
  .icon-arrow {
    font-size: 12px;
    margin-left: 8px;
    transition: ease 0.2s;
  }
  .title {
    display: flex;
    align-items: end;
    transition: ease 0.2s;
    white-space: nowrap;
  }
}

.card-projeto:hover {
  border-radius: 10px;
  background-color: #4fc3b608;
  .title {
    color: #4fc3b6;
  }
  .icon-arrow {
    transform: translate(3px, -3px);
  }
}

.image-icon {
  img {
    width: 150px;
    height: auto;
    object-fit: cover;
  }
}

p {
  font-size: 14px;
  line-height: 18px;
}

.habilidades-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  div {
    border-radius: 310px;
    padding: 5px 10px 5px 10px;
    color: #4fc3b6;
    background-color: #4fc3b630;
    font-size: 12px;
    font-weight: 500;
  }
}

@media screen and (max-width: 1000px) {
  .card-projeto {
    flex-direction: column;
    gap: 10px;
  }

  .image-icon {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
