.title {
  margin-bottom: 30px;
}
.content {
  width: 100%;
}

.experiencia-column {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.educacao-column {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.sobre-mim {
  p {
    line-height: 25px;
  }
}
