<div class="content">
  <section id="sobre">
    <div class="title">Sobre mim</div>
    <div class="sobre-mim">
      <p>
        Sou um Desenvolvedor Full Stack especializado em criar soluções web
        acessíveis, de alta performance e alinhadas às melhores práticas do
        mercado. Meu trabalho é guiado pela busca constante por excelência
        técnica e funcionalidade, entregando experiências digitais inovadoras
        que priorizam usabilidade e acessibilidade.
      </p>
      <p>
        Atualmente, atuo como Analista de Desenvolvimento Pleno, onde
        supervisiono a implementação de sistemas web robustos utilizando
        tecnologias como Angular e Node.js. Minha experiência abrange desde a
        concepção e implantação de soluções em ambientes de computação em nuvem
        AWS (incluindo EC2, S3, VPC e Load Balancer) até a integração com APIs
        externas, como OpenAI, Meta e Google Analytics, otimizando processos e
        aumentando a eficiência operacional.
      </p>
      <p>
        Nos últimos anos, também aprofundei meus conhecimentos em áreas
        emergentes, como machine learning, engenharia de software e análise de
        dados.
      </p>
    </div>
  </section>

  <section class="item-column" id="educacao">
    <div class="title">Educação</div>

    <app-card-experiencia
      *ngFor="let educacao of educacoes"
      [dates]="educacao.dates"
      [cargo]="educacao.cargo"
      [empresa]="educacao.empresa"
      [link]="educacao.link"
    ></app-card-experiencia>
  </section>
  <section class="item-column" id="experiencias">
    <div class="title">Experiências</div>

    <app-card-experiencia
      *ngFor="let experiencia of experiencias"
      [dates]="experiencia.dates"
      [cargo]="experiencia.cargo"
      [desc]="experiencia.desc"
      [empresa]="experiencia.empresa"
      [habilidades]="experiencia.habilidades"
      [link]="experiencia.link"
    ></app-card-experiencia>
  </section>
  <section class="item-column" id="projetos">
    <div class="title">Projetos</div>

    <app-card-projeto
      *ngFor="let projeto of projetos"
      [img]="projeto.img"
      [desc]="projeto.desc"
      [link]="projeto.link"
      [titulo]="projeto.titulo"
      [habilidades]="projeto.habilidades"
      [carousel_imgs]="projeto.carousel_imgs ?? []"
    ></app-card-projeto>
  </section>
</div>
